.storybook-button {
    font-family: 'Nunito Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-weight: 700;
    border: 0;
    border-radius: 3em;
    cursor: pointer;
    display: inline-block;
    line-height: 1;
  }
  .storybook-button--primary {
    color: white;
    background-color: #1ea7fd;
  }
  .storybook-button--secondary {
    color: #333;
    background-color: transparent;
    box-shadow: rgba(0, 0, 0, 0.15) 0px 0px 0px 1px inset;
  }
  .storybook-button--small {
    font-size: 12px;
    padding: 10px 16px;
  }
  .storybook-button--medium {
    font-size: 14px;
    padding: 11px 20px;
  }
  .storybook-button--large {
    font-size: 16px;
    padding: 12px 24px;
  }
  


 
  /*-------------------------------------------*/
  
  /*次へボタン*/
  .next_btn{
      display: inline-block;
      display: block;
      width: 60px;
      height: 60px;
      border-radius: 50%;
      border: 1px solid #555;
      background-color: #fff;
      content: "";
      position: relative;
      transition: all .5s ease-out;

      &:before{
        content: "";
        margin: auto;
        position: absolute;
        top: 0px;
        bottom: 0;
        left: 20px;
        width: 13px;    /* くの字を山なりに見た時、左側の長さ */
        height: 13px;   /* くの字を山なりに見た時、右側の長さ */
        border-top: 3px solid #000;     /* くの字を山なりに見た時、左側の太さと色 */
        border-right: 3px solid #000;   /* くの字を山なりに見た時、右側の太さと色 */
        transform: rotate(45deg);    /* くの字の向き */
      }
      &:hover{
        transform: translateX(20px);
        transition: all .5s ease-out;
      }
  }


  /*sp_menu*/
  .sp_menu{
      width: 90px;
      height: 90px;
      background-color: #fff;
      border-radius: 25px;
      border: 2px solid #555;
      position: relative;
      cursor: pointer;
      &:hover{
        span:nth-of-type(1) {

        }
        span:nth-of-type(2) {           
        }
        span:nth-of-type(3) {
        }
    }
      span{
            position: absolute;
            width: 60%;
            height: 5px;
            background-color: #555;
            display: inline-block;
            transition: all .4s;
            box-sizing: border-box;
            left: 20%;
            
      };
      span:nth-of-type(1) {
        top: 25%;
      }
      span:nth-of-type(2) {
        top: 45%;
      }
      span:nth-of-type(3) {
        top: 65%;
      }
  }

  .sp_menu.active{
    span:nth-of-type(1) {
        top: 25%;
        transform: rotate(-315deg);
      }
      span:nth-of-type(2) {
        top: 45%;
        opacity: 0;
      }
      span:nth-of-type(3) {
        top: 65%;
        transform: rotate(315deg);
      }

    

    

  }
  


 
  
  
  
  